.footer__navigation-link {
  text-decoration: none;
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin-right: 18px;
  transition: opacity 0.5s ease-in;
}

@media screen and (max-width: 760px) {
  .footer__navigation-link {
    font-size: 24px;
    line-height: 24px;
  }
} 

.footer__navigation-link:hover {
  opacity: 0.3;
}