@import url('./__item/photo-grid__item.css');

.photo-grid {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 16px 16px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 48px 92px;
}


@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 0 48px 92px;
    grid-gap: 14px 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
   grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: 0 24px 88px;
    grid-gap: 16px 16px;
  }
}

@media screen and (max-width: 760px) {
  .photo-grid {
   grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin: 0 16px 64px;
    grid-gap: 12px 12px;
  }
}
