.lead__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #fff;
  text-align: center;
  max-width: 720px;
  margin: 0 auto 24px;
}

@media screen and  (max-width: 768px) {
  .lead__title {
    max-width: calc(100% - 48px);
    margin: 8px 24px 24px;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .lead__title {
    font-size: max(40px, min(12vw, 96px));
    line-height: 110%;
    max-width: calc(100% - 32px);
    margin: 0 16px;
  }
}

@media screen and (width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin: 8px 16px 13px;
    max-width: calc(100% - 32px);
  }
}