.place-card__link {
  text-decoration: none;
  color: #fff;
  font-family: Inter;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  transition: opacity 0.5s ease-in;
}

.place-card__link:hover {
  opacity: 0.3;
}
