.footer__copyright {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #fff;
}

@media screen and (max-width:760px) {
  .footer__copyright {
    line-height: 14px;
    text-align: left;
    margin-top: 16px;
  }
} 