@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/intro/Intro.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place-card/place-card.css);
@import url(../blocks/cover/cover.css);
* {outline: 1px solid red;}