@import url('./__navigation-list/footer__navigation-list.css'); 
@import url('./__copyright/footer__copyright.css'); 
@import url('./__navigation-link/footer__navigation-link.css'); 
@import url('./__navigation-links/footer__navigation-links.css');
  
.footer {
  display: flex;
  max-width: 1182px;
  margin: 92px 48px 24px;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 90px;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    margin-left: 16px;
    margin-top: 70px;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    flex-direction: column;
  }
}
